<div class="container">

  <h1> Create Account </h1>
  <form id='create_account_form' action="/create_account" method="post">
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br><br>
    <input type="submit" value="Create Account">
  </form>

</div>
