<div class="container">

<h2 class='Log In'>Log In</h2>


<form action="/login" method="post">
<input type="text" name="email" placeholder="email"><br>
<input type="text" name="password" placeholder="password"><br><br>
<input type="submit" value="Submit">
</form>
 
</div>


